@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Auto

<div>
    <h3>@Model.Model</h3>
    <p>@Model.Color</p>
    <p>@Model.BodyType</p>
    <p>@Model.Year</p>
</div>